@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1b1a20;
  font-family: 'Roboto', sans-serif;
}

.layout {
  display: flex;
  padding: 20px 2%;
  max-width: 1200px;
  margin: 50px auto 0 auto;
}

@media only screen and (max-width: 1024px) {
  body {
    .filters {
      width: 20%;
    }

    .shelf-container {
      width: 80%;

      .shelf-item {
        width: 33.33%;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  body {
    .filters {
      width: 25%;
    }

    .shelf-container {
      width: 75%;

      .shelf-item {
        width: 50%;
        padding: 10px;

        &__title {
          margin-top: 5px;
          padding: 0;
        }
      }
    }

    .float-cart {
      width: 100%;
      right: -100%;

      &--open {
        right: 0;
      }

      &__close-btn {
        left: 0px;
        z-index: 2;
        background-color: #1b1a20;
      }

      &__header {
        padding: 25px 0;
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  body {
    main {
      display: flex;
      flex-wrap: wrap;
      padding: 2%;
      margin-top: 42px;
    }

    .filters {
      width: 100%;
      margin-right: 0;
      text-align: center;

      .title {
        margin-bottom: 15px;
      }
    }

    .shelf-container-header {
      .products-found {
        width: 100%;
        text-align: center;
        margin: 10px 0;
      }

      .sort {
        width: 100%;
        text-align: center;
      }
    }

    .shelf-container {
      width: 100%;

      .shelf-item {
        width: 50%;

        &__buy-btn {
          display: none;
        }
      }
    }
  }
}

.shelf-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  min-height: 600px;

  &-header {
    width: 100%;
    margin-bottom: 10px;

    .products-found {
      float: left;
      margin: 0;
      margin-top: 8px;
    }

    .sort {
      float: right;

      select {
        background-color: #fff;
        outline: none;
        border: 1px solid #ececec;
        border-radius: 2px;
        margin-left: 10px;
        width: auto;
        height: 35px;
        cursor: pointer;

        &:hover {
          border: 1px solid #5b5a5e;
        }
      }
    }
  }

  .shelf-item {
    width: 25%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border: 1px solid #eee;

      .shelf-item__buy-btn {
        background-color: #eabf00;
      }
    }

    .shelf-stopper {
      position: absolute;
      color: #ececec;
      top: 10px;
      right: 10px;
      padding: 5px;
      font-size: 0.6em;
      background-color: #1b1a20;
      cursor: default;
    }

    &__thumb {
      img {
        width: 100%;
      }
    }

    &__title {
      position: relative;
      padding: 0 20px;
      height: 45px;

      &::before {
        content: '';
        width: 20px;
        height: 2px;
        background-color: #eabf00;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
      }
    }

    &__price {
      height: 60px;

      .val {
        b {
          font-size: 1.5em;
          margin-left: 5px;
        }
      }

      .installment {
        color: #9c9b9b;
      }
    }

    &__buy-btn {
      background-color: #1b1a20;
      color: #fff;
      padding: 15px 0;
      margin-top: 10px;
      cursor: pointer;
      // border-bottom: 2px solid #151419;

      transition: background-color 0.2s;
    }
  }
}

.filters {
  width: 15%;
  margin-right: 15px;

  .star-button-container {
    text-align: center;
    small {
      color: #aaa;
      margin-bottom: 8px;
      display: inline-block;
    }
  }

  .title {
    margin-top: 2px;
    margin-bottom: 20px;
  }

  &-available-size {
    display: inline-block;
    margin-bottom: 10px;
    /* Customize the label (the container) */
    button {
      display: inline-block;
      position: relative;
      cursor: pointer;
      user-select: none;
      width: 35px;
      height: 35px;
      margin-bottom: 8px;
      margin-right: 8px;
      border-radius: 50%;
      line-height: 35px;
      text-align: center;
      font-size: 10px;

      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 35px;
        font-size: 0.8em;
        border-radius: 50%;
        line-height: 35px;
        text-align: center;
        color: #1b1a20;
        background-color: #ececec;

        border: 1px solid transparent;
      }
    }
  }
}
